
@{
    ViewData["Title"] = "View";
}

<div class="row">
    <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Upload">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="input-file-container">
                                <input class="input-file" id="my-file" type="file" name="file">
                                <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
                            </div>
                            <p class="file-return"></p>
                        </div>
                    </div>
                    <div class="form-group uploadButton">
                        <div class="col-md-10">
                            <input type="submit" value="Upload" class="btn btn-success" />

                        </div>
                    </div>

            </form>
    </div>
</div>
<p class="text-danger ErrorMessage">@ViewData["ErrorMessage"]</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
