@model Stark.Models.Cars


@{
    ViewData["Title"] = "SelectPlate";
    string[] ceva = new string[2] { "CJ25PUL","SJ24RUN" };
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        
        @{
            
            for (int i = 0; i < ceva.GetLength(0); i++)
            {

                <input type="button" class="selectButtonBefore" id=@i value=@ceva[i]  />
            }
        }
        <label asp-for="Plate" class="control-label"></label>
        <input asp-for="Plate" hidden />
        <span asp-validation-for="Plate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>


<h2>SelectPlate</h2>

