@model Stark.Models.Cars


@{
    ViewData["Title"] = "SelectPlate";
  	var data=ViewBag.result;
	
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group selectPlate">
        
        @{
            
            for (int i = 0; i < data.Count; i++)
            {

                <input type="button" class="selectButtonBefore" id=@i value=@data[i] />
            }
        }
        <input asp-for="Plate" class="form-control" id="Plate" />
        <span asp-validation-for="Plate" class="text-danger"></span>
    </div>
	@if((data.Count<1)||(data==null))
    {
	<p class="text-danger ErrorMessage">License plate text not generated. Try again with a clearer picture.</p>
	}
    else{<div class="form-group selectPlate">
        <input type="submit" value="Create" formaction=@Url.Action("Create", "Cars") formmethod="post" class="btn btn-success" />
    </div>}
	
</form>
<script type="text/javascript">
    if ($(".Plate").val() == null) {


    }
</script>

