
@{
    ViewData["Title"] = "View";
}


<h2>Upload your image</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Upload">
            <div class="input-file-container">
                <input class="input-file" id="my-file" type="file">
                <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
            </div>
            <p class="file-return"></p>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" id="uploadBtn" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



